.daftar {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.daftar .div {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(
        180deg,
        rgb(252.88, 250.28, 226.89) 0%,
        rgb(255, 255, 255) 52.5%
    );
    width: 1920px;
    height: 2491px;
    position: relative;
}

.daftar .overlap {
    position: absolute;
    width: 1352px;
    height: 1018px;
    top: 0;
    left: 568px;
}

.daftar .decore {
    position: absolute;
    width: 739px;
    height: 737px;
    top: 0;
    left: 613px;
}

.daftar .top-nav {
    position: absolute;
    width: 225px;
    height: 40px;
    top: 58px;
    left: 1077px;
}

.daftar .image {
    position: absolute;
    width: 780px;
    height: 764px;
    top: 254px;
    left: 0;
}

.daftar .overlap-group {
    position: relative;
    height: 764px;
}

.daftar .plane {
    top: 117px;
    left: 628px;
    position: absolute;
    width: 153px;
    height: 135px;
}

.daftar .traveller {
    position: absolute;
    width: 765px;
    height: 764px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.daftar .img {
    top: 70px;
    left: 144px;
    position: absolute;
    width: 153px;
    height: 135px;
}

.daftar .text-wrapper {
    position: absolute;
    top: 42px;
    left: 80px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #181e4b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.daftar .group {
    position: absolute;
    width: 1752px;
    height: 1274px;
    top: 1174px;
    left: 84px;
    background-image: url(./img/testimonial.jpg);
    background-size: 100% 100%;
}
