.masuk {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.masuk .div {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(
        180deg,
        rgb(252.88, 250.28, 226.89) 0%,
        rgb(255, 255, 255) 52.5%
    );
    width: 1920px;
    height: 1896px;
    position: relative;
}

.masuk .overlap {
    position: absolute;
    width: 1352px;
    height: 1018px;
    top: 0;
    left: 568px;
}

.masuk .decore {
    position: absolute;
    width: 654px;
    height: 744px;
    top: 0;
    left: 698px;
}

.masuk .top-nav {
    position: absolute;
    width: 196px;
    height: 40px;
    top: 58px;
    left: 1076px;
}

.masuk .image {
    position: absolute;
    width: 796px;
    height: 764px;
    top: 254px;
    left: 0;
}

.masuk .overlap-group {
    position: relative;
    height: 764px;
}

.masuk .plane {
    top: 103px;
    left: 615px;
    position: absolute;
    width: 181px;
    height: 164px;
}

.masuk .traveller {
    position: absolute;
    width: 765px;
    height: 764px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.masuk .img {
    top: 56px;
    left: 131px;
    position: absolute;
    width: 181px;
    height: 164px;
}

.masuk .text-wrapper {
    position: absolute;
    top: 42px;
    left: 80px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #181e4b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.masuk .group {
    position: absolute;
    width: 1752px;
    height: 679px;
    top: 1174px;
    left: 88px;
    background-image: url(./img/testimonial.jpg);
    background-size: 100% 100%;
}
