nav {
    width: 100%;
    display: flex;
    margin-bottom: 4.31rem;
    margin-left: 5.25rem;
    margin-right: 4.81rem;
    padding-top: 3.45rem;
}
nav ul {
    display: flex;
    list-style: none;
    color: #000;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
    gap: 3.5rem;
    margin-top: 0.92rem;
}
nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: "Jost";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    transition: 0.4s;
}
nav .judulNavigasi {
    font-family: "DM Serif Display", serif;
    color: #181e4b;
    font-size: 2.5rem;
    text-wrap: nowrap;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 59.31rem;
    display: flex;
}
nav ul li a:hover {
    color: #c76904;
}

nav ul li a.active {
    color: #c76904;
}

nav ul li.dropdown:hover .dropdown-menu {
    display: block;
}

nav ul li.dropdown {
    position: relative;
}

nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    z-index: 10;
}

nav ul li .dropdown-menu a {
    color: #000;
    padding: 1rem;
    display: block;
    text-decoration: none;
}

nav ul li .dropdown-menu a:hover {
    background-color: #c76904;
    color: #fff;
}

nav ul li.dropdown > a {
    pointer-events: none;
}
