#tambahwisata {
    background: linear-gradient(180deg, #fdfae3 0%, #fff 52.5%);
    width: 120rem;
    height: 120%;
    margin: auto;
}
#header {
    display: flex;
    margin-bottom: 3.5rem;
}
#judulheader {
    color: #181e4b;
    font-family: DM Serif Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.19rem;
    margin-left: 5rem;
    align-items: center;
}
#navigasiBlog {
    display: flex;
    margin-right: 5.01rem;
    margin-left: auto;
    margin-top: 2.19rem;
    gap: 3.5rem;
}
.keluarBlog a {
    text-decoration: none;
}
.keluarBlog {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
}
.profilBlog a {
    text-decoration: none;
}
.profilBlog {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
}
.wisataBlog a {
    text-decoration: none;
}
.wisataBlog {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
}
.blogBlog a {
    text-decoration: none;
}
.blogBlog {
    color: #c76904;
    text-align: center;
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
}
.berandaBlog a {
    text-decoration: none;
}
.berandaBlog {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.5625rem */
}
.tulisantambahBlog {
    color: #181e4b;
    font-family: DM Serif Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5.06rem;
    margin-top: 34.94rem;
}

.bordertambahimageBlog {
    width: 75.625rem;
    height: 37.4375rem;
    border-radius: 3.75rem;
    background: #d4d3d3;
    margin-left: 6.63rem;
    display: flex;
    flex-direction: column;
}

.tulisanSVG {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-top: 16.31rem;
}

.tulisantambahkanimage {
    display: inline-flex;
    padding: 1.625rem 2.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.125rem;
    background: linear-gradient(180deg, rgba(61, 98, 153, 0) 0%, #182171 100%);
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 1.40625rem */
    letter-spacing: 0.0225rem;
    margin-right: 4.49rem;
    margin-left: auto;
    margin-bottom: 4.56rem;
    margin-top: auto;
}

.tambahjudulBlog {
    display: flex;
    width: 50.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    margin-left: 7.87rem;
    margin-top: 2.75rem;
}

.tulisanjudulBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.tulisandaerahBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.88rem;
}

.tulisangmapsBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.88rem;
}

.tulisantentangBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.88rem;
}

.tulisandeskripsiBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1.88rem;
}

.daerahjudulBlog {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputjudulBlog input {
    display: flex;
    width: 50.625rem;
    height: 3.875rem;
    padding: 0rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #474749;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputdaerahBlog input {
    display: flex;
    width: 50.625rem;
    height: 3.875rem;
    padding: 0rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #474749;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputgmapsBlog input {
    display: flex;
    width: 50.625rem;
    height: 3.875rem;
    padding: 0rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #474749;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputtentangBlog input {
    display: flex;
    width: 50.625rem;
    height: 3.875rem;
    padding: 0rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #474749;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.inputdeskripsiBlog input {
    display: flex;
    width: 50.375rem;
    height: 8.1875rem;
    padding: 1rem 1.3125rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #474749;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tambahkanBlog {
    display: inline-flex;
    padding: 1.625rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.125rem;
    background: #3d6299;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    margin-right: 2.55rem;
    margin-left: 103.75rem;
    margin-top: 10.38rem;
    flex-direction: row;
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 1.40625rem */
    letter-spacing: 0.0225rem;
}
#footer {
    width: 120rem;
    height: 26.875rem;
    background: url("/assets/img/footer.png"), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 9.44rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2.75rem;
}

.judulFooter {
    color: #fff;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 3.90625rem */
    margin-top: 5rem;
}

#kredit {
    display: flex;
    flex-direction: column;
}

.judulKredit {
    color: #292f36;
    font-family: DM Serif Display;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 3.125rem */
}

.deskripsiKredit {
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.0625rem */
    letter-spacing: 0.01375rem;
    margin-top: 1.12rem;
}

.logoKredit {
    display: flex;
    width: 14.0625rem;
    align-items: center;
    gap: 3.375rem;
    margin-top: 1.94rem;
}

#copyright {
    color: #4d5053;
    font-family: Jost;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.0625rem */
    letter-spacing: 0.01375rem;
    text-align: center;
    align-items: center;
    margin-top: 8.63rem;
}

.tombolPageAtas {
    display: flex;
    padding: 1.625rem 3.0625rem 1.625rem 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.125rem;
    background: linear-gradient(
        180deg,
        rgba(24, 33, 113, 0) 0%,
        rgba(24, 70, 113, 0.71) 0.01%
    );
    box-shadow: 0px 0px 0px 0px rgba(192, 192, 192, 0.35);
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 1.40625rem */
    letter-spacing: 0.0225rem;
    margin-top: 0.13rem;
    width: fit-content;
}
