.landing-page .sub-content {
    width: 393px;
    align-items: flex-start;
    gap: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .SELHONO {
    display: inline-flex;
    align-items: flex-start;
    gap: 7px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #292f36;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
}

.landing-page .text-wrapper-12 {
    position: relative;
    width: 393px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #4d4f52;
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 33px;
}

.landing-page .icons {
    display: flex;
    width: 225px;
    align-items: center;
    gap: 54px;
    position: relative;
    flex: 0 0 auto;
}

.landing-page .text-wrapper-13 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    font-weight: 400;
    color: #292f36;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.99px;
    line-height: 21.6px;
    white-space: nowrap;
}

.landing-page .text-wrapper-14 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    font-weight: 400;
    color: #292f36;
    font-size: 19px;
    text-align: center;
    letter-spacing: 1.04px;
    line-height: 22.8px;
    white-space: nowrap;
}

.landing-page .text-wrapper-15 {
    position: absolute;
    height: 33px;
    top: 5576px;
    left: 897px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #4d4f52;
    font-size: 22px;
    letter-spacing: 0.22px;
    line-height: 33px;
    white-space: nowrap;
}

.landing-page .top-nav {
    position: absolute;
    width: 196px;
    height: 40px;
    top: 50px;
    left: 1644px;
}

.landing-page .text-wrapper-16 {
    position: absolute;
    top: 34px;
    left: 80px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #181e4b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.landing-page .rectangle-2 {
    top: 2425px;
    left: 931px;
    position: absolute;
    width: 904px;
    height: 581px;
    object-fit: cover;
}

.landing-page .content-2 {
    display: flex;
    flex-direction: column;
    width: 660px;
    height: 184px;
    align-items: flex-start;
    gap: 11px;
    position: absolute;
    top: 1870px;
    left: 1123px;
}

.landing-page .text-wrapper-17 {
    position: relative;
    width: 326px;
    margin-top: -1px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #292f36;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 43.8px;
}

.landing-page .text-wrapper-18 {
    position: relative;
    width: 612px;
    margin-bottom: -80px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #4d5053;
    font-size: 28px;
    text-align: justify;
    letter-spacing: 0.28px;
    line-height: 42px;
}

.landing-page .text-wrapper-19 {
    position: absolute;
    width: 113px;
    height: 162px;
    top: 1655px;
    left: 1670px;
    color: #c66804;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0.9px;
    line-height: 135px;
    white-space: nowrap;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
}

.landing-page .text-wrapper-20 {
    position: absolute;
    width: 136px;
    height: 162px;
    top: 2424px;
    left: 121px;
    color: #c66804;
    font-size: 90px;
    text-align: center;
    letter-spacing: 0.9px;
    line-height: 135px;
    white-space: nowrap;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
}

.landing-page .sub-content-2 {
    display: flex;
    flex-direction: column;
    width: 664px;
    height: 182px;
    align-items: flex-start;
    gap: 9px;
    position: absolute;
    top: 2775px;
    left: 133px;
}

.landing-page .text-wrapper-21 {
    position: relative;
    width: 399px;
    margin-top: -1px;
    font-family: "DM Serif Display-Regular", Helvetica;
    font-weight: 400;
    color: #292f36;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 43.8px;
}

.landing-page .text-wrapper-22 {
    position: relative;
    width: 655px;
    height: 394px;
    margin-bottom: -264px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #4d5053;
    font-size: 28px;
    text-align: justify;
    letter-spacing: 0.28px;
    line-height: 42px;
}

.landing-page .heading-2 {
    display: flex;
    flex-direction: column;
    width: 811px;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 1251px;
    left: 554px;
}

.landing-page .text-wrapper-23 {
    position: relative;
    width: 811px;
    font-family: "Jost-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: -1.44px;
    line-height: 60px;
}
